body {
  background: lightgrey;
}

article {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

ul {
  margin: 20px auto;
  padding: 0;
  list-style-type: none;
}

li {
  // display: inline-block;
  padding: 10px;
}

.current {
  display: block;
}

#activeTasks, #completedTasks {
  display: none;
  // border: 1px solid orange;
}

#bottom-nav li {
  display: inline-block;
}

.checked {
  text-decoration: line-through;
}
